

h1,h2,h4{
    font-family: 'Times New Roman', Times, serif;
}
.hb{
    border-radius: 0px;
    background-color: black;
    color: white;
    height: 40px;
}

.hb:hover{
    background-color: white;
    color: black;
}

.footer{
    height: 120px;
    background-color: rgb(24, 15, 15) !important;
}

.home{
    height: 640px;
}